aws_region        = "REPLACE_ME_AWS_REGION"
state_bucket_name = "replace-me-unique-tf-state-bucket-name"
lock_table_name   = "REPLACE_ME_TF_LOCK_TABLE_NAME"

tags = {
  environment = "prod"
  project     = "PythonFloodMonitor"
  component   = "TerraformState"
}
